@layer components {
    .login {
        @apply
        min-h-screen
        sm:grid
        sm:grid-cols-2;
            
        &__header {
            @apply
            flex
            flex-col
            gap-6
            bg-brand-primary
            text-white
            px-[28px]
            py-[25px]
            sm:py-[8%]
            sm:px-[calc(1rem+8%)];
        }
        
        &__body {
            @apply
            relative
            bg-white
            px-6
            py-16
            sm:px-16
            sm:pt-22;
            
            &-content {
                @apply
                grid
                gap-6
                max-w-[352px]
                xl:max-w-[464px]
                mx-auto;
            }
        }
        
        &__title {
            @apply
            font-heading
            text-[22px]
            leading-[1.2]
            font-normal
            sm:text-[48px]
            sm:font-semibold;
        }
    }
}