@layer components {

    .form-group {
        @apply
        text-left;

        &:has(:required) .form-label {
            @apply
            after:content-['_*']
            after:text-emotion-danger-default;
        }
        
        &--error {
            .form-control {
                @apply
                bg-input-error
                bg-[center_right_10px]
                bg-[length:18px]
                bg-no-repeat
                border-emotion-danger-default
                focus-visible:border-emotion-danger-default
                focus-visible:ring-emotion-danger-default/25;
            }
            
            .form-message {
                @apply
                text-emotion-danger-default;
            }
        }
    }

    .form-label {
        @apply
        inline-block
        mb-1
        pl-4
        text-xs
        text-text-secondary;
    }
    
    .form-control-wrapper {
        @apply
        relative;
        
        .form-control:has(+ .form-control-action) {
            @apply
            pr-10
            bg-none;
        }
    }

    .form-control {
        @apply
        block
        w-full
        h-9.5
        px-4
        py-2
        text-sm
        text-[#3f3f3f]
        bg-white
        border
        border-border-main-default
        rounded-md
        placeholder-text-secondary
        transition-all
        duration-300
        outline-none
        focus-visible:border-border-main-active
        focus-visible:ring-3
        focus-visible:ring-action-primary-default/25
        disabled:text-text-secondary;
    }
    
    .form-control-action {
        @apply
        absolute
        inset-[0_0_0_auto]
        flex
        items-center
        justify-center
        w-10
        rounded
        text-action-primary-default
        hover:text-action-primary-hover
        active:text-action-primary-active
        cursor-pointer
        outline-none
        transition-all
        focus-visible:ring-3
        focus-visible:ring-action-primary-default/25;
        
        .icon {
            @apply
            text-[1.375rem];
        }
        
        &[data-reveal="on"] .icon.on {
            @apply
            hidden;
        }
        
        &[data-reveal="off"] .icon.off {
            @apply
            hidden;
        }
    }
    
    .form-message {
        @apply
        mt-2
        pl-4
        text-xs
        text-text-secondary;
    }

    .form-check,
    .form-radio {
        @apply
        flex
        items-start
        gap-3
        break-inside-avoid;

        &__control {
            @apply
            appearance-none
            shrink-0
            size-5
            bg-white
            bg-check
            bg-[length:0]
            bg-center
            bg-no-repeat
            border
            border-border-main-default
            transition-all
            will-change-transform
            rounded
            outline-none
            checked:bg-brand-primary
            checked:bg-[length:1rem]
            checked:border-brand-primary
            focus-visible:border-border-main-active
            focus-visible:ring-3
            focus-visible:ring-action-primary-default/25;
        }

        &__label {
            @apply
            text-sm
            leading-normal
            text-text-primary;
        }

        &:has([disabled]) {
            .form-check__label,
            .form-radio__label {
            }
        }
    }

    .form-radio {
        &__control {
            @apply
            rounded-full
            bg-radio;
        }
    }

    select.form-control {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.5 14.5-3.6-3.6s-.1-.1-.1-.2 0-.1 0-.2 0-.2.1-.4c0-.1.2-.1.3-.1h7.6c.1 0 .3.1.4.1.1.1.1.2.1.4 0 0-.1.1-.2.3l-3.6 3.6c-.1.1-.2.1-.2.2-.1 0-.2.1-.3.1s-.2 0-.3-.1c-.1 0-.1 0-.2-.1z" fill="%232d447b"/></svg>');

        @apply
        appearance-none
        pr-10
        bg-[center_right_.5rem]
        bg-[size:1.5rem]
        bg-no-repeat;
    }

    /**
    https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
     */

    input[type=range] {
        --track-color: #ccc;
        --thumb-color: theme('colors.brand.primary');
        --thumb-border: 4px solid #fff;
        --thumb-shadow: 0 0 .5rem rgba(0 0 0 / .2);

        appearance: none;
        margin: .75rem 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        background: var(--track-color);
        border-radius: 4px;
        border: none;
        box-shadow: none;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: var(--thumb-shadow);
        border: var(--thumb-border);
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: var(--thumb-color);
        cursor: pointer;
        appearance: none;
        margin-top: -6px;
    }

    input[type=range]:focus-visible::-webkit-slider-thumb {
        outline: 3px solid #04B7EF66;
        outline-offset: 2px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: var(--track-color);
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        box-shadow: none;
        background: var(--track-color);
        border-radius: 4px;
        border: none;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: var(--thumb-shadow);
        border: var(--thumb-border);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: var(--thumb-color);
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: var(--track-color);
        border: none;
        border-radius: 4px;
        box-shadow: none;
    }

    input[type=range]::-ms-fill-upper {
        background: var(--track-color);
        border: none;
        border-radius: 4px;
        box-shadow: none;
    }

    input[type=range]::-ms-thumb {
        box-shadow: var(--thumb-shadow);
        border: var(--thumb-border);
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: var(--thumb-color);
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: var(--track-color);
    }

    input[type=range]:focus::-ms-fill-upper {
        background: var(--track-color);
    }

}